body{
	font-family: sylfaen;
	background-image: url('images/background.jpg');
}

#site{
	margin: auto auto;
	width:90%;
	padding: 20px 30px;
	position: relative;
	top:58px;
	z-index: 1;
}

h1{
	font-family: SFArchRivalRegular;
	font-size: 3.5em;
	color: #1C4259;
	font-weight: normal;
}

h2{
	font-family: SFArchRivalRegular;
	font-size: 3em;
	color: #1C4259;
	font-weight: normal;
}

h3{
	font-family: SFArchRivalRegular;
	font-size: 2em;
	color: #1C4259;
	font-weight: normal;
}

a:link{

	text-decoration: none;
}

ul li{
	list-style-type: none;
}

textarea { 
    resize: none; 
}

#logintools{
	font-family: SFArchRivalRegular;
	margin:auto auto;
}

#header{
	height:60px;
	width: 1400px;
	background-color: #16325C;
	padding-top:6px;
	padding-left: 5px;
	position: absolute;
  	top: 0em;
  	left: 0em;
  	z-index: 2;
  	color:#F9F5EB;
  	border-bottom: 1px solid #F37042;
}
	#header a:link{
		color:#F37042;
	}

	#header a:visited{
		color:#F37042;
	}
#title{
	position:absolute;
	top:0em;
	left: 50%;
	text-align: center;
}

#panier{
	width: 300px;
	position:fixed;
	background-color: white;
	border: 1px solid #F37042;
	top:0;
	right: 0;
	z-index: 3;
	color: #1C4259;
	font-size: 0.8em;
	padding: 10px 10px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-left-radius: 25px;
	background-color: #F9F5EB;
	font-family: Arial;

}

#wrapper{
	margin-top: -20px;
	background-color: #F9F5EB;
	padding: 30px 30px;
	width: 1000px;
	margin-left: 100px;
	float:left;
	border-left: 1px solid #F37042;
	border-right: 1px solid #F37042;
	border-bottom: 1px solid #F37042;
}

#navigation{
	width:200px;
	padding: 10px 10px;
	margin-top: 100px;
	left:0;
	border-right: 1px solid #F37042;
	float:left;
}

#content{
	width: 700px;
	margin-top:70px;
	padding: 20px 20px;
	float:right;
}

#footer{
	width: 800px;
	height:60px;
	background-color: #16325C;
	margin-top: 80px;
	margin-left: 300px;
	z-index: 2;
	text-align: center;
	color: #F9F5EB;
	padding-top:6px;
	border: 1px solid #F37042;
	float:left;
}

/* CLASSES */



/* FONT FACE */

@font-face {
    font-family: 'SFArchRivalRegular';
    src: url('fonts/SF_Arch_Rival-webfont.eot');
    src: url('fonts/SF_Arch_Rival-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival-webfont.svg#SFArchRivalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalItalic';
    src: url('fonts/SF_Arch_Rival_Italic-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Italic-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Italic-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Italic-webfont.svg#SFArchRivalItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalBold';
    src: url('fonts/SF_Arch_Rival_Bold-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Bold-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Bold-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Bold-webfont.svg#SFArchRivalBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalBoldItalic';
    src: url('fonts/SF_Arch_Rival_Bold_Italic-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Bold_Italic-webfont.svg#SFArchRivalBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalExtendedRegular';
    src: url('fonts/SF_Arch_Rival_Extended-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Extended-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Extended-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Extended-webfont.svg#SFArchRivalExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalExtendedItalic';
    src: url('fonts/SF_Arch_Rival_Extended_Italic-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Extended_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Extended_Italic-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Extended_Italic-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Extended_Italic-webfont.svg#SFArchRivalExtendedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalExtendedBold';
    src: url('fonts/SF_Arch_Rival_Extended_Bold-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Extended_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Extended_Bold-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Extended_Bold-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Extended_Bold-webfont.svg#SFArchRivalExtendedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SFArchRivalExtendedBoldItalic';
    src: url('fonts/SF_Arch_Rival_Extended_Bold_Italic-webfont.eot');
    src: url('fonts/SF_Arch_Rival_Extended_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Arch_Rival_Extended_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/SF_Arch_Rival_Extended_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/SF_Arch_Rival_Extended_Bold_Italic-webfont.svg#SFArchRivalExtendedBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
